html{
	font-family: courier,monospace;
	background-color:#c6c6c6;
	font-size:12px;
}

#main{
	background-color:#c6c6c6;
	min-width:640px;
	min-height:480px;
	max-width:90%;
	max-height:90%;
	display:block;
	margin:auto;
}

#main>*{
	background-color:#EEEEEE;
}

#title{
	text-align:center;
	font-weight:bold;
	font-size:32px;
	min-height:48px;
	max-height:10%;
}

#stats{
	font-size:20px;
	float:left;
	min-width:200px;
	min-height:432px;
	max-width:20%;
	max-height:90%;
}

#event{
	min-height:336px;
	max-height:70%;
	font-size:14px;
	font-weight:bold;
}

#actions,#menu{
	font-size:10px;
	max-height:10%;
	min-height:48px;
	font-family:verdana,sans-serif;
}

#actions{
	font-size:16px;
/*	display:table;*/
	empty-cells:show;
}

#actions span{
	float:left;
	width:25%;
	display:table-cell;
}

#menu{
	font-weight:700;
}

#rmenu{
	font-weight:400;
}

#rmenu>a{
	font-weight:700;
}

#menu>span{
	display:inline-block;
	width:25%;
}

a[href="#"]:visited{
	color: #00f;
}

p{
	display: block;
  margin: 0;
}
