<!DOCTYPE html>
<html ng-app="CoCStuck">
<head>
<title>CoCStuck</title>
<link rel="stylesheet" href="css/css.css" type="text/css"/>
<meta charset='utf-8'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js" type="text/javascript"></script>
<script src="js/models/events.js" type="text/javascript"></script>
<script type="text/javascript">
    // declare a new module, and inject the $compileProvider
    angular.module('CoCStuck', [], function($compileProvider) {
        // configure new 'compile' directive by passing a directive
        // factory function. The factory function injects the '$compile'
        $compileProvider.directive('compile', function($compile) {
            // directive factory creates a link function
            return function(scope, element, attrs) {
                scope.$watch(
                    function(scope) {
                    // watch the 'compile' expression for changes
                    return scope.$eval(attrs.compile);
                },
                function(value) {
                    // when the 'compile' expression changes
                    // assign it into the current DOM
                    element.html(value);

                    // compile the new DOM and link it to the current
                    // scope.
                    // NOTE: we only compile .childNodes so that
                    // we don't get into infinite loop compiling ourselves
                    $compile(element.contents())(scope);
                }
                );
            };
        })
    });
</script>
</head>
<body >
<div id="main" ng-controller="eventCtrl">
    <div id="title">CoCStuck</div>
    <div id="stats">
        <div ng-hide="!character.isActive()">
            <div ng-repeat="(name, stat) in [character.stats['str'],character.stats['def'],character.stats['int'], character.stats['spc'], character.stats['luk'], character.stats['hp'], character.stats['lus']]">
                {{stat.fName}}: {{stat.val}}
            </div>
            {{character.name}}
        </div>
    </div>
    <div>
        <div id="event" compile="events[curEvent].eventText">
        </div>
        <div id="actions">
            <div ng-repeat="(name, choice) in events[curEvent].choices">
                <a href="" ng-click="goEvent(choice)">{{choice.text}}</a>
            </div>
        </div>
        <div id="menu">
            <span id="lMenu">
                <a id="new" href="#" ng-click="startNewGame()">New Game</a>
            </span> 
            <span id="rMenu">
                <a href="#" id="save">Save Game</a>|<a href="#" id="load">Load Game</a>|<a href="#" id="auto">Auto Save</a>
            </span>
        </div>
    </div>
</div>
</body>
</html>
